<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:replace="/equity-nav.html :: fragment-equity-nav"></div>

    <div class="h4 pb-2 mb-4 text-danger border-bottom border-info"></div>

    <div class="card">
        <div class="card-header">
            <h2 th:text="${equity.stck_shrn_iscd}"></h2>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>매수</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/order/buy/{id}(id=${equity.stck_shrn_iscd})}" method="post">
                <div class="mb-3">
                    <label for="buyPrice" class="form-label">매수가격</label>
                    <input type="text" class="form-control" id="buyPrice" name="buyPrice" required />
                </div>
                <div class="mb-3">
                    <label for="buyQuantity" class="form-label">매수수량</label>
                    <input type="number" class="form-control" id="buyQuantity" name="buyQuantity" required />
                </div>
                <button type="submit" class="btn btn-primary">매수하기</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>매도</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/order/sell/{id}(id=${equity.stck_shrn_iscd})}" method="post">
                <div class="mb-3">
                    <label for="sellQuantity" class="form-label">매도수량</label>
                    <input type="number" class="form-control" id="sellQuantity" name="sellQuantity" required />
                </div>
                <button type="submit" class="btn btn-danger">매도하기</button>
            </form>
        </div>
    </div>

    <div class="h4 pb-2 mb-4 text-danger border-bottom border-info"></div>

</div>
</body>
</html>
